@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
}

.header{
  background-color:rgb(191, 224, 222);
  width: 100%;
  height: 70px;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header-buttons {
  display: flex;
  justify-content: left;
  gap: 20px;
  font-size: 20px;
  position: relative;
}

.para1 {
  font-size: 40px;
  margin-left: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
}

.para2 {
  font-size: 30px;
  margin-left: 40px;
}

img {
  background-image: IMG_20231203_081533;
  height: 275px;
  width: 250px;
  border-radius: 50%;
  position: relative;
}

.picAndInfo {
  height: 100px;
  width: 100%;
  display: flex;
  padding: 20px;
  position: relative;
}

.pic {
  width: 50%;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  position: relative;
  align-items: center;
}

.info {
  width: 50%;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 1000) {
  img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 500) {
  img {
    height: 50px;
    width: 50px;
  }
}